body{
  background-image: url("geometry.png");
  font-family: helvetica, arial, sans-serif;
  box-sizing: border-box;

}

main {
  max-width: 800px;
  margin: 0 auto;
  overflow: visible;
  margin-top: 70px;
  height: 300px;
  text-align: center;
}


h2 {
  font-family: helvetica, arial;
  font-size: 14px;
}

.instructions {
  clear: both;
  height: 30px;
  padding-top: 10px;
  color: #C0C0C0;
}

.instructions p {
  font-size: 12px;
  letter-spacing: .5px;
}

.swatch-container {

  background-color: white;
  border: 1px solid lightgrey;
  position: relative;
  height: 220px;
  width: 150px;
  margin: 4px;
  border-radius: 5px;
  float: left;
  overflow: hidden;
  box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.16);
  animation: fadein 2s;


}

.swatch-container:hover {

  top: -1px;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.swatch {
  height: 170px;
  width: 150px;
  background-color: ;
  position: relative;
}
.color-name {
  position: absolute;
  top: 175px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-weight: lighter;
  color: grey;
  letter-spacing: 1.5px;
  cursor: crosshair;
}
