body{
  background-image: url("geometry.png");
  font-family: helvetica, arial, sans-serif;
  box-sizing: border-box;
  text-align: center;

}

main {
  max-width: 800px;
  margin: 0 auto;
  overflow: visible;
  margin-top: 30px;
  height: 300px;
  text-align: center;
}


h2 {
  font-family: helvetica, arial;
  font-size: 14px;
}

.instructions {
  clear: both;
  height: 30px;
  padding-top: 10px;
  color: #C0C0C0;
}

.instructions p {
  font-size: 12px;
  letter-spacing: .5px;
}

.copied {
  font-size: 12px;
  letter-spacing: .5px;
  margin: 0 auto;
  color: darkgrey;
  animation: fadeinout 1.7s ease-out forwards;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

.swatch-container {

  background-color: white;
  border: 1px solid lightgrey;
  position: relative;
  height: 220px;
  width: 150px;
  margin: 4px;
  border-radius: 5px;
  float: left;
  overflow: hidden;
  box-shadow: 4px 7px 13px 0px rgba(0,0,0,0.16);
  animation: fadein 2s;


}

.swatch-container:hover {

  top: -1px;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.swatch {
  height: 170px;
  width: 150px;
  background-color: ;
  position: relative;
}
.color-name-hex {
  /*visibility: hidden;*/
  position: absolute;
  top: 175px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-weight: lighter;
  color: grey;
  letter-spacing: 1.5px;
  cursor: crosshair;
}

.color-name-rgb {
  visibility: hidden;
  position: absolute;
  top: 175px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-weight: lighter;
  color: grey;
  letter-spacing: 1.5px;
  cursor: crosshair;
}


.message {
  height: 35px;
}
